AnchorPane{
    -fx-background-color:#30332E;
}

Button{
    
    -fx-background-color: #B100FF;
}

TextField{
    -fx-background-color:#010400;
}

BorderPane{
    -fx-background-color:#30332E;
    
}

GridPane{
    -fx-background-color:#010400;
}

*{
    -fx-text-fill: #FFFBFC;
}

ChoiceBox{
    -fx-background-color: #A67DB8;
}
TableView{
    -fx-background-color:#010400;
}

.TableColumn{
    -fx-background-color: #B100FF;
    -fx-border-color:#30332E;
    -fx-border-top: 0px;
    -fx-border-bottom: 0px;
}
