AnchorPane{
    -fx-background-color:#30332E;
}

Button{
    
    -fx-background-color: #B100FF;
}

TextField{
    -fx-background-color:#A67DB8;

}

.problem{
    -fx-text-fill:#ff0000;

}

BorderPane{
    -fx-background-color:#30332E;
    
}

PasswordField{
    -fx-background-color:#A67DB8;
    
}



.choice-box .context-menu { -fx-background-color: black; }


.choice-box .menu-item:focused { -fx-background-color: #B100FF; }

GridPane{
    -fx-background-color:#010400;
}

*{
    -fx-text-fill: #FFFBFC;
}

ChoiceBox{
    -fx-background-color: #A67DB8;
}
TableView{
    -fx-background-color:#010400;
}

.TableColumn{
    -fx-background-color: #B100FF;
    -fx-border-color:#30332E;
    -fx-border-top: 0px;
    -fx-border-bottom: 0px;
}
